<!DOCTYPE html>
<html lang="en">
<head>
  <title>All Rooms</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand -->
    <div class="navbar-header">
      <a class="navbar-brand" href="#">RR</a>
    </div>
    <!-- Links -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="/">Rooms</a></li>
        <li><a href="http://127.0.0.1:8000/room/new">New Room</a></li>
        <li><a href="http://127.0.0.1:8000/reservation/all">All Reservations</a></li>
        <li><a href="http://127.0.0.1:8000/reservation/new">New Reservation</a></li>
      </ul>
	<!-- Search -->
      <form class="navbar-form navbar-left" action="http://127.0.0.1:8000/search/" method="GET">
        <div class="form-group">Search by:
          <input type="text" name="name" class="form-control" placeholder="Name">
          <input type="text" name="capacity" class="form-control" placeholder="Capacity">
          <input type="text" name="date" class="form-control" placeholder="Date">
          Projector:
          <input id="radio1" type="radio" name="projector" value="1" checked>Yes
  		  <input id="radio2" type="radio" name="projector" value=''>No
  		  <button type="submit" class="btn btn-default">Search</button>
        </div>
      </form>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class="container">
  <h2>Rooms Reservation</h2>
  <p>For more information click the selected room</p>
  {% if error %}<p class=error style="color:red"><strong>Error:</strong> {{ error }}{% endif %}
  <div class="col-xs-6 align=auto">            
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Name</th>
        <th>Capacity</th>
        <th>Projector</th>
      </tr>
    </thead>
    <tbody>
    {% for room in rooms %}
      <tr>
        <td><a href="http://127.0.0.1:8000/room/{{room.id}}">{{room.name}}</a></td>
        <td>{{room.capacity}}</td>
        <td>{{room.projector}}</td>
        <td>
        	<a href="http://127.0.0.1:8000/room/modify/{{room.id}}" type="button" class="btn btn-default"">Edit</a>
        	<a href="http://127.0.0.1:8000/room/delete/{{room.id}}" type="button" class="btn btn-danger"">Delete</a>
        	<a href="http://127.0.0.1:8000/reservation/new/{{room.id}}" type="button" class="btn btn-success"">Reserve</a>
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
  </div>
</div>

</body>
</html>
