
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Form</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  {% load static %}  
  <link rel="stylesheet" href="{% static 'room/css/style.css' %}">
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand -->
    <div class="navbar-header">
      <a class="navbar-brand" href="#">RR</a>
    </div>
    <!-- Links -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="/">Rooms</a></li>
        <li><a href="http://127.0.0.1:8000/room/new">New Room</a></li>
        <li><a href="http://127.0.0.1:8000/reservation/all">All Reservations</a></li>
        <li><a href="http://127.0.0.1:8000/reservation/new">New Reservation</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<header>ROOM RESERVATION FORM</header>
{% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}
<form id="form" class="topBefore" method="POST">{% csrf_token %}
	
  <fieldset>ROOM NAME
 	<select  name="room">
   	 {% for room in rooms%}
	  <option value="{{room.id}}">{{room.name}}</option>
	 {% endfor %} 
	</select>
  </fieldset>
  <input id="date" type="date" name="date" placeholder="DATE : YYYY-MM-DD">
  <textarea id="comment" name="comment" type="text" placeholder="COMMENT"></textarea>
  <input id="submit" type="submit" value="GO!">

</form>
</body>
</html>
